
@{
    ViewBag.Title = "Error";
}

<div class="container feedback-view">
    <h3 id="PassChangeErrorHead">Error</h3>
    <p class="feedback-text">
        The password was not changed.<br />
        Make sure that the username you enter exists. <br />
    </p>

    <div class="feedback-btn-margin">
        @Html.ActionLink("Try Again", "AdminChangeUserPassword", "User", null, new { id = "PassChangeTryAgainLink", @class = "form-btn-submit"})
    </div>
</div>

