
@{
    ViewBag.Title = "Confirmation Message";
}
@model Capstone.Web.Models.User

<div class="container feedback-view">
    <h3 id="PasswordChangeSuccessHead">Password Change Confirmation</h3>
    <p class="feedback-text">
        You successfully changed the password of User: @Model.Username<br />
        <div class="feedback-btn-margin">
            @Html.ActionLink("Change another password", "AdminChangeUserPassword", "User", null, new { id = "PassChangeTryAgainLink", @class = "form-btn-submit" })
        </div>
    </p>
</div>

