
@{
    ViewBag.Title = "Index";
}

<h2>Data Entry Index</h2>

<div>
    <a href="@Url.Action("StorageDE", "DataEntry")">Storage Stability</a>
</div>

<div>
    <a href="@Url.Action("BeadDE", "DataEntry")">Bead Stability</a>
</div>

<div>
    <a href="@Url.Action("ChemDE", "DataEntry")">Chemical Compatibilty</a>
</div>

